/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Sample configuration file
sample-config.yml
sample-env
# Ruby and IDE stuff
.idea/

# Since it's a gem ignore Gemfile.lock
Gemfile.lock

# Used in integration tests
draw-with-git/

